body{
  text-align: center;
  font-size: 4rem;
}
h1{
  color: white;
}
#container{
  font-size: 2rem;
  text-align: center;
  background-color: gray;
  border: none;
  border-radius: 25px;
  width: 90%;
  height: 90%;
  margin-left: 50px;
  box-shadow: 5px 5px 10px 2px;
}
input{
  font-size: 2rem;
  border-radius: 10px;
}
button{
    font-size: 2.5rem;
    background-color: hsl(180, 100%, 50%);
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}
p{
  font-size: 4rem;
}